// Poppins Font
$font-poppins: 'Poppins', sans-serif;

//cart
$right-side-cart-area-width: 70%;
// Ubuntu Font
$font-ubuntu: 'Ubuntu', sans-serif;
$slider-height: 20px !default;
$slider-width: 130px !default;
$rail-height: 4px !default;
$knob-size: 20px !default;
$rail-color: #e2e2e2 !default;
$rail-fill-color: #21fb92 !default;
$knob-color: #fff !default;
$knob-border: 1px solid #f5f5f5 !default;
$knob-shadow: 1px 1px rgba(0, 0, 0, 0.2) !default;
